<span *ngIf="loading | async; then inprogress else ready"></span>

<ng-template #inprogress>
  <div class="input">
    <div class="dot-flashing"></div>
  </div>

    <mat-progress-bar
      mode="indeterminate"
      color="warn"
      style="position: absolute; top: 0; z-index: 100;"
    >
    </mat-progress-bar>
  </ng-template>

<ng-template #ready>
  <div class="mat-slider-horizontal">
    <input #searchBox id="search-box"
    class="input ready"
    placeholder="entrer quelques lettres d'un nom de lieu..."
    (input)="search(searchBox.value)"/>
  </div>

  <div>
    <mat-slider #minslider
      thumbLabel
      tickInterval="10"
      step=10
      min="{{yearMin}}"
      max="{{yearMax}}"
      (valueChange)="handleValueMin($event)"
      [(ngModel)]="valueMin"
    >
    </mat-slider>
    <span ngClass="{{valueMin>yearMin?'red':'black'}}">{{valueMin}}</span>
  </div>
  <div>
    <mat-slider #maxslider
      thumbLabel
      tickInterval="10"
      step=10
      min="{{yearMin}}"
      max="{{yearMax}}"
      (valueChange)="handleValueMax($event)"
      [(ngModel)]="valueMax"
    ></mat-slider>
    <span ngClass="{{valueMax<yearMax?'red':'black'}}">{{valueMax}}</span>
  </div>

</ng-template>

<div class="float-container">

  <div class="float-map">
  <div style="height: 48rem;"
    leaflet
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
    [leafletLayers]="layers"
    [leafletMarkerCluster]="markerClusterData"
    [leafletMarkerClusterOptions]="markerClusterOptions"
    (leafletMarkerClusterReady)="markerClusterReady($event)">
  </div>
  </div>

  <div class="float-side">
    <tds-place-details></tds-place-details>
  </div>

</div>
