.float-container {
  width: 100%;
  display: flex;
}

.float-map {
  width: auto;
  min-width: 60%;
}

.float-side {
  overflow: auto;
  width: 100%;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.856);
}
