.mat-drawer-content {
  background-image: url('/assets/img/marbeuf.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-item {
  margin-left: 1rem;
}

.second-level-row {
  margin: 0;
  //padding: 0;
}
.second-level-item {
  font-size: medium;
}

.selected {
  text-decoration: underline;
  color: #1976d2;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: rgba(224, 33, 33, 0.5);
}

.mat-primary {
  color: rgba(224, 33, 33, 0.5);
}

.mat-sitenav-content {
  background-color: rgba(224, 33, 33, 0.5);
}
