.header-spacer {
  flex: 1 1 auto;
}

.header-item {
  margin-left: 1rem;
}

.selected {
  text-decoration: underline;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: rgba(224, 33, 33, 0.5);
}

.mat-primary {
  color: rgba(224, 33, 33, 0.5);
}

.mat-sitenav-content {
  background-color: rgba(224, 33, 33, 0.5);
}
