* {
  color: black;
  line-height: initial;
  text-align: center;
}

div {
  padding: 2rem;
  margin: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(white, .8);
}


h1 {
  font: initial;
  font-size: xx-large;
  width: 100%;
  border-bottom: thin solid black;
}

h2 {
  font: initial;
  font-size: x-large;
  font-weight: bolder;
  margin-top: 3rem;
}

p {
  font: initial;
  font-size: large;
}

a {
  color: #1976d2;
}

.input {
  align-items: center;
  min-height: 2rem;
  align-self: center;
  width: 60%;
  margin-top: 0;
  margin-bottom: .5rem;
  border-radius: 4px;
  padding: .3rem;
  background-color: white;
}

.ready {
  background-color: #bfdfff36;
  border-color: #1976d2;
}

.loading-alt-colors {
  animation: loadingAltColors 1s infinite linear alternate;
  animation-delay: 0s;
}

@keyframes loadingAltColors {
  0% {
		background: #fddec286;
	}
	25% {
		background: #ffbd7f86;
	}
	50% {
		background: #ff7b008c;
	}
	75% {
		background: #ffbd7f86;
	}
	100% {
		background: #fddec286;
	}
}

// stolen from https://nzbin.github.io/three-dots/
.dot-flashing {
  padding: 0;
  margin: 0;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffc880;
  color: #ffc880;
  -webkit-animation: dot-flashing 1s infinite linear alternate;
  animation: dot-flashing 1s infinite linear alternate;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffc880;
  color: #ffc880;
  -webkit-animation: dot-flashing 1s infinite alternate;
  animation: dot-flashing 1s infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}


.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffc880;
  color: #ffc880;
  -webkit-animation: dot-flashing 1s infinite alternate;
  animation: dot-flashing 1s infinite alternate;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes dot-flashing {
  0% {
    background-color: #ffc880;
  }
  50%,
  100% {
    background-color: #fff3e6;
  }
}

@keyframes dot-flashing {
  0% {
    background-color: #ffc880;
  }
  50%,
  100% {
    background-color: #fff3e6;
  }
}
