<div>

  <span *ngIf="place | async as p">
    <h2>Lieu:</h2>

    <h1>{{ p.name }}</h1>

    <span *ngIf="p.notices && p.notices.length>0">
      <span *ngIf="p.notices.length>1;then multi else single"></span>
      <ng-template #single>
        <div class="scroll, wide" [innerHTML]="p.notices[0]"></div>
      </ng-template>
      <ng-template #multi>
        <div>
          Notices:
          <div *ngFor="let n of p.notices" [innerHTML]="n"></div>
        </div>
      </ng-template>
    </span>

        <tds-representations-list
          [representations]="representations"
          [title]="title"
        >
        </tds-representations-list>
  </span>


</div>
