//@import '../../local.scss';

.scroll {
  overflow: auto;
  max-height: 30em;
  width: 100%;
}

div {
  color: black;
  padding: 1rem;
  //margin: 2rem;
  //margin-top: 4rem;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  background-color: rgba(white, .9);
  display: block;
  justify-content: left;
  text-align: left;
}

// span {
//   text-align: left;
// }

// ul {
//   text-align: left;
// }

.wide {
  margin: 0;
  padding: 1em;
}

a {
  color: #1976d2;
}

h2 {
  margin-top: 1em;
}
