<div style="width:100%; height: 48rem;">

  <div *ngIf="place | async as p; else invite">
    <h2>Lieu:</h2>

    <h1><a [routerLink]="['/place/', p.ref]">{{ p.name }}</a></h1>

    <span *ngIf="p.notices && p.notices.length>0">
      <span *ngIf="p.notices.length>1;then multi else single"></span>
      <ng-template #single>
        <div class="scroll, wide" [innerHTML]="p.notices[0]"></div>
      </ng-template>
      <ng-template #multi>
        <div>
          Notices:
          <div *ngFor="let n of p.notices" [innerHTML]="n"></div>
        </div>
      </ng-template>
    </span>

    <tds-representations-list-map [source]="p.id"></tds-representations-list-map>
  </div>

  <ng-template #invite>
    <div style="margin-top: 25%;">
      <p>
        Carte des lieux où ont été jouées des représentations de société.
      </p>

      <p>
        Plusieurs options de recherche sont possibles.
      </p>

      <h2>Recherche par carte</h2>
      Déplacer la carte par « clic & drag » ou zoomer et dézoomer à l’aide des boutons + et – pour accéder aux lieux recherchés. <br>
      Cliquer sur chaque « cluster » <img src="/assets/img/cluster.png" style="height: 3em;"/> pour une vue plus détaillée. <br>
      Cliquer sur chaque « puce » <img src="/assets/img/marker-icon.png"/> pour accéder à la fiche d’un lieu précis.

      <h2>Recherche par nom de lieu</h2>
      Entrer le nom du lieu, ou ses premières lettres, dans la boîte de recherche simple.

      <h2>Restriction temporelle</h2>
      La barre chronologique (1700-1900) permet de restreindre la recherche à une ou plusieurs décennies. Déplacer les curseurs à gauche et à droite pour choisir les extrêmes de l’intervalle choisi. Seuls les lieux de représentation actifs dans l’intervalle s’afficheront sur la carte.

      <p>
        Depuis chaque fiche de lieu on accède aux représentations jouées à cet endroit.
      </p>
    </div>
  </ng-template>

</div>
