<span *ngIf="representations > 0; then with else without"></span>

<ng-template #with>
  <a routerLink="/year/{{year}}">
    <span *ngIf="year === 1700">&lt;</span>
    <span *ngIf="year === 1899">&gt;</span>
    <span *ngIf="year === 1">Dates non définies: </span>
    <span *ngIf="year > 1" class="year">{{ year }}</span>
    <button color="accent" matBadge="{{representations}}"></button>
  </a>
</ng-template>

<ng-template #without>
  <span>
      <span *ngIf="year === 1700">&lt;</span>
      <span *ngIf="year === 1899">&gt;</span>
      {{ year }}
  </span>
</ng-template>
