<div>

  <span *ngIf="loading | async as progress">
    <mat-progress-bar
    mode="indeterminate"
    color="warn"
    style="position: absolute; top: 0; z-index: 100;"
    >
    </mat-progress-bar>
  </span>

  <span *ngIf="year === 1; then unknown else known"></span>

  <ng-template #unknown>
    <h1>Représentations dont l'année n'est pas connue</h1>
  </ng-template>

  <ng-template #known>
    <span *ngIf="year === 1700; then first else after"></span>

    <ng-template #first>
      <h1>Représentations de l'année {{ year }} et avant</h1>
    </ng-template>

    <ng-template #after>
      <h1>Représentations de l'année {{ year }}</h1>
    </ng-template>

  </ng-template>

  <tds-representations-list [source]="year" [type]="'year'" [titles]="true" [header]="false"></tds-representations-list>

  <a routerLink="/calendrier" title="retour vers le calendrier">
    <mat-icon aria-hidden="false" aria-label="calendrier">date_range</mat-icon>
  </a>
</div>
