* {
  color: black;
}

p {
  margin-left: 2em;
}

div {
  padding: 1rem;
  margin: 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(white, .7);
}

h1 {
  font: initial;
  font-size: xx-large;
}

h2 {
  font: initial;
  font-size: x-large;
  line-height: 3em;
}
