<div>

  <h1>Pièces</h1>

  <div>

    <span *ngIf="loading | async as progress; then inprogress else ready"></span>

    <ng-template #inprogress>
      <div class="input">
        <div class="dot-flashing"></div>
      </div>

      <mat-progress-bar
      mode="indeterminate"
      color="warn"
      style="position: absolute; top: 0; z-index: 100;"
      >
      </mat-progress-bar>
    </ng-template>

    <ng-template #ready>
      <input #searchBox id="search-box"
        class="input ready"
        placeholder="entrer quelques lettres du titre ou du nom de l'auteur..."
        (input)="search(searchBox.value)"/>
    </ng-template>

    <span *ngIf="works | async as works">

      <span>pièces: {{works.length}} / {{allWorks.length}}
      </span>

      <tds-piecespage [works]=works [reset]=reset></tds-piecespage>
    </span>

  </div>

</div>
