<div class="external">

  <mat-progress-bar
    *ngIf="loading | async"
    mode="indeterminate"
    color="warn"
    style="top: 0; z-index: 100;">
  </mat-progress-bar>

  <span *ngIf="representation | async as rep">

    <div class="nomargin">
      <h2>
        Représentation:
      </h2>
      <span class="spacer"></span>
      <button mat-button matTooltip="copier le permalien ARK dans le presse papier" [cdkCopyToClipboard]="rep.ark" [cdkCopyToClipboardAttempts]="6"><span class="material-icons">share</span></button>
      <a target="_blank" href="{{rep.ark}}">
        <button mat-button matTooltip="ouvrir le permalien ARK"><span class="material-icons">open_in_new</span></button>
      </a>
    </div>

    <ul>
      <li>
        Pièce: <tds-work [iri]="rep.work"></tds-work>
      </li>
      <li>
        Lieu: <tds-place-line [iri]="rep.place"></tds-place-line>
      </li>
      <li>
        Date: <a routerLink="/year/{{ rep.scaledYear }}" matTooltip="ouvrir dans une page">{{ rep.dateShort }}
            <button mat-button><span class="material-icons embedded">article</span></button>
        </a>
      </li>
      <li *ngIf="rep.festival">
        Festival: <tds-festival [iri]="rep.festival"></tds-festival>
      </li>
      <li *ngIf="rep.role && rep.role.length>0">
        <span *ngIf="rep.role.length == 1">
          Role:
          <tds-role [iri]="rep.role[0]"></tds-role>
        </span>
        <span *ngIf="rep.role.length > 1">
          Roles:
          <ul>
            <li *ngFor="let role of rep.role">
              <tds-role [iri]="role"></tds-role>
            </li>
          </ul>
        </span>
      </li>
      <li *ngIf="rep.genre && rep.genre.length>0">
        <span *ngIf="rep.genre.length == 1">
          Genre: <tds-genre [iri]="rep.genre"></tds-genre>
        </span>
        <span *ngIf="rep.genre.length > 1">
          Genres:
          <ul>
            <li *ngFor="let genre of rep.genre">
              <tds-genre [iri]="genre"></tds-genre>
            </li>
          </ul>
        </span>
      </li>

      <tds-quote-list *ngIf="rep.quote" [quotesIri]="rep.quote"></tds-quote-list>
    </ul>
  </span>
</div>
