//@import '../../local.scss';

div {
  padding: 2rem 20%;
  margin: 2rem;
  margin-top: 4rem;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  background-color: rgba(white, .8);

  display: block;
  justify-content: left;
  text-align: left;
}
// span {
//   text-align: left;
// }

// ul {
//   text-align: left;
// }

a {
  color: #1976d2;
}
