@import '../../local.scss';

mat-panel-description {
  flex-wrap: wrap;
  justify-content: right;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  width: 33%;
}

.nomargin {
  margin: 0;
  margin-left: 1em; // outer/2 :( Note loic: should avoid fixed numbers
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  text-align: left;
}

.embedded {
  color: #1976d2;
}
