<span *ngIf="representations | async as reps">

  <span *ngIf="reps.length>0">
    <div class="nomargin" *ngIf="header">
      <span *ngIf="reps.length>1;then multi else single"></span>
      <ng-template #single><span class="left">Représentation:</span></ng-template>
      <ng-template #multi><span class="left">Représentations:</span></ng-template>
    </div>

    <div class="list-item-header list-item-container">
      <div  *ngIf="titles" class="list-item-header">Titre</div>
      <div class="list-item-header">Lieu</div>
      <div class="list-item-header">Date</div>
    </div>

    <mat-list-item *ngFor="let representation of reps">
      <mat-accordion>
        <mat-expansion-panel (opened)="panel[representation.id] = true">
          <mat-expansion-panel-header>
            <mat-panel-title *ngIf="titles">

              <span class="truncate">
                {{representation.workTitle}}
              </span>

            </mat-panel-title>
            <mat-panel-description>
              <span class="truncate">
                {{representation.placeName}}
              </span>
              <span class="spacer"></span>

              <span *ngIf="representation.dateShort !== '1'" class="truncate">
                {{representation.dateShort}}
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <span *ngIf="panel[representation.id]">
            <tds-representation-line [iri]="representation.id"></tds-representation-line>
          </span>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list-item>

  </span>
</span>
