@import '../../local.scss';

mat-panel-description {
  flex-wrap: wrap;
  justify-content: right;
}

.h2 {
  display: inline;
}

.margin {
  padding: 0rem;
  margin: 0rem;
  margin-top: 1rem;
  display: block;
  justify-content: center;
  background-color: rgba(white, .8);
}

.list-item-header {
  margin-top: 0;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  width: 66%;
}

.nomargin {
  margin: 0;
  margin-left: 1em; // outer/2 :( Note loic: should avoid fixed numbers
  padding: 0;
  display: flex;
  align-items: flex-start;
}
.spacer {
  flex: fit-content;
}

.right {
  margin-right: 83%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
