
<span *ngIf="count>0">

  <br>

  <div class="margin">
    <button (click)="firstPage()" [disabled]="page<1">&lt;&lt;</button>
    <button (click)="updatePage(-1)" [disabled]="page<1">&lt;</button>
    page: {{page+1}} / {{pageMax}}
    <button (click)="updatePage(1)" [disabled]="(page+1)>=pageMax">&gt;</button>
    <button (click)="lastPage()" [disabled]="(page+1)>=pageMax">&gt;&gt;</button>
    </div>

  <div class="list-item-header list-item-container">
    <div class="list-item-header">nom</div>
    <div class="list-item-header">pseudonyme</div>
  </div>

  <mat-list-item *ngFor="let author of authors.slice(pageLength*page, pageLength*(page+1))">
    <mat-accordion>
      <mat-expansion-panel (opened)="panel[author.id] = true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="truncate">
              {{author.familyName}}
              <span *ngIf="author.givenName">
                , {{author.givenName}}
              </span>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            {{author.pseudonym}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="panel[author.id]">
          <tds-person-line [iri]="author.id" [showName]="false"></tds-person-line>

          <!-- list of works -->
          <span *ngIf="author.familyName">

            <div class="nomargin">
              <div class="nomargin">Pièces:</div>
            </div>

            <mat-list-item *ngFor="let work of getWorks(author.familyName)">
            <mat-accordion>
              <mat-expansion-panel (opened)="panel[work.id] = true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="truncate">
                      {{work.title}}
                    </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngIf="panel[work.id]">
                  <tds-work-line [iri]="work.id"></tds-work-line>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-list-item>

          </span>
          <!-- /list of works -->


        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-list-item>

  <button (click)="firstPage()" [disabled]="page<1">&lt;&lt;</button>
  <button (click)="updatePage(-1)" [disabled]="page<1">&lt;</button>
  page: {{page+1}} / {{pageMax}}
  <button (click)="updatePage(1)" [disabled]="(page+1)>=pageMax">&gt;</button>
  <button (click)="lastPage()" [disabled]="(page+1)>=pageMax">&gt;&gt;</button>
</span>
