<span *ngIf="work | async as w">

  <p>
    Titre: {{ w.title }}
  </p>

  <p *ngIf="w.authors && w.authors.length > 0">

    <span *ngIf="w.authors.length > 1; then multi else single"></span>

    <ng-template #single>
      Auteur:
      <a *ngIf="w.authority" target="_blank" href="{{w.authority}}">
        <button mat-button matTooltip="ouvrir la page de l'identifiant d'autorité"><span class="material-icons">perm_contact_calendar</span></button>
      </a>
      <tds-person-line [iri]="w.authors[0]" [showName]="true"></tds-person-line>
    </ng-template>

    <ng-template #multi>
      Auteurs:
      <a *ngIf="w.authority" target="_blank" href="{{w.authority}}">
        <button mat-button matTooltip="ouvrir la page de l'identifiant d'autorité"><span class="material-icons">perm_contact_calendar</span></button>
      </a>

      <ul>
        <li *ngFor="let a of w.authors">
          <tds-person-line [iri]="a" [showName]="true"></tds-person-line>
        </li>
      </ul>
    </ng-template>

  </p>

</span>

