<span *ngIf="work | async as w">

  <p>
    Titre: {{ w.title }}
  </p>

  <p *ngIf="w.authors && w.authors.length > 0">

    <span *ngIf="w.authors.length > 1; then multi else single"></span>

    <ng-template #single>
      Auteur: <tds-person [iri]="w.authors[0]"></tds-person>
    </ng-template>

    <ng-template #multi>
      Auteurs:
      <ul>
        <li *ngFor="let a of w.authors">
          <tds-person [iri]="a"></tds-person>
        </li>
      </ul>
    </ng-template>
  </p>

  <p *ngIf="w.authority">
    Identifiant d'autorité: <a href="{{w.authority}}">{{ w.authority }}</a>
  </p>

</span>

