

<div>

  <h1>
  {{"Théâtres de société" | uppercase}}
  </h1>

  <p>
  Catalogue des représentations données en société en France et en Suisse Romande entre 1700 et 1871
  </p>

</div>

<div>

  <h1>Qu'est-ce que le théâtre de société ?</h1>

  <p>
    Le théâtre de société se définit comme un théâtre principalement amateur, discontinu – c’est-à-dire non soumis à un calendrier de programmation préétabli, régulier et récurrent – non lucratif, sauf exceptions ponctuelles, et qui se joue dans un espace privé, pour un public choisi, appartenant généralement à un même cercle de relations familiales, amicales ou sociales.
  </p>

  <div style="align-items: center;">
    <iframe id="kaltura_player_1639046480" src="https://mam.unil.ch/p/110/sp/11000/embedIframeJs/uiconf_id/23448291/partner_id/110?iframeembed=true&playerId=kaltura_player_1639046480&entry_id=0_mv1bzk6y" width="672" height="421" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0">

    </iframe>

  </div>

  <p>
    À la suite des travaux pionniers sur le sujet, ce projet vise à établir les éléments esthétiques et dramaturgiques qui font la spécificité de cet objet, son identité distinctive, et à déterminer la fonction qu’il remplit dans la vie sociale et dans l’histoire du théâtre.
  </p>

  <p>
    Ce projet s'inscrit dans la continuité de la <a href="http://homes.chass.utoronto.ca/~trott/societe/societe.htm">base de données de David Trott.</a>
  </p>

  <p>
    Site du colloque <a href="https://catima.unil.ch/amateurs/fr" target="_blank">"Du théâtre de société aux théâtres amateurs"</a>
  </p>

</div>
