* {
  color: black;
  line-height: initial;
  font: initial;
  text-align: center;
}

h1 {
  font: initial;
  font-size: xx-large;
}

div {
  padding: 2rem;
  margin: 2rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(white, .7);
}

p {
  font-size: large;
}
