* {
  color: black;
  font: initial;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  padding: 1rem;
  margin: 10rem;
  line-height: initial;
}

div {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(white, .7);
}

.larger {
  font-size: xx-large;
}
