

<div>

  <h1>
  {{"Théâtres de société" | uppercase}}
  </h1>

  <p>
  Catalogue des représentations données en société en France et en Suisse Romande entre 1700 et 1871
  </p>

</div>

<div>

  <h1>Qu'est-ce que le théâtre de société ?</h1>

  <p>
    Le théâtre de société se définit comme un théâtre principalement amateur, discontinu – c’est-à-dire non soumis à un calendrier de programmation préétabli, régulier et récurrent – non lucratif, sauf exceptions ponctuelles, et qui se joue dans un espace privé, pour un public choisi, appartenant généralement à un même cercle de relations familiales, amicales ou sociales.
  </p>

  <p>
    À la suite des travaux pionniers sur le sujet, ce projet vise à établir les éléments esthétiques et dramaturgiques qui font la spécificité de cet objet, son identité distinctive, et à déterminer la fonction qu’il remplit dans la vie sociale et dans l’histoire du théâtre.
  </p>

  <p>
    Ce projet s'inscrit dans la continuité de la <a href="http://homes.chass.utoronto.ca/~trott/societe/societe.htm">base de données de David Trott.</a>
  </p>
</div>
