<div>
  <h1>L'équipe</h1>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/valentina.png">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelValentinaOpenState = true" (closed)="panelValentinaOpenState = false">
          <mat-expansion-panel-header>
              <mat-panel-title>
                Valentina Ponzetto
              </mat-panel-title>
              <mat-panel-description>
                Professeur boursière FNS, directrice du projet
              </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/valentina.png">
          <p>
            Valentina Ponzetto est Professeure Boursière du Fonds National de la Recherche Suisse et enseigne la littérature française et la dramaturgie à l'Université de Lausanne, où elle dirige le projet de recherche Théâtres de société. Entre Lumières et Second Empire. Titulaire d'un doctorat en littérature française et comparée des Université de Paris Sorbonne et de Turin et d'un post-doctorat en littérature comparée du Collège de France, elle a précédemment enseigné dans les universités de Paris-Sorbonne Paris IV, Neuchâtel et Genève, où elle a été responsable d'un projet de recherche quadriennal du FNS sur le genre du Proverbe dramatique
          </p>
          <p>
            Ses recherches portent principalement sur la littérature dramatique, la dramaturgie et la vie théâtrale des XVIIIe et XIXe siècles, sur l'esthétique des genres dramatiques et sur les héritages et transferts culturels entre XVIIIe et XIXe siècle. Elle collabore aux projets internationaux d'édition critique des Œuvres complètes d'Alfred de Musset, George Sand et Eugène Labiche.
          </p>
          <p>
            Elle est notamment l'auteur de Musset ou la nostalgie libertine (Genève, Droz, 2007) et a dirigé le volume Théâtres en liberté, du XVIIIe au XXe siècle. Genres nouveaux, scènes marginales ? (Rouen, CEREdI, 2017). Actuellement, elle prépare une monographie sur Le Proverbe dramatique : histoire, écriture, réception, et un volume collectif sur La Scène des théâtres de société.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/aline.png">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelAlineOpenState = true" (closed)="panelAlineOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Aline Hodroge
            </mat-panel-title>
            <mat-panel-description>
              Doctorante FNS
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/aline.png">
          <p>
            Agrégée de Lettres modernes en 2016, Aline Hodroge est doctorante FNS en littérature française moderne auprès des universités de Lausanne et de Rouen (laboratoire Cérédi). Sa thèse porte sur Théâtre(s) et Théâtralité(s) dans l’œuvre de Germaine de Staël. Elle est l’auteur des articles suivants :&nbsp;«&nbsp;Dramaturgie de la mélancolie staëlienne&nbsp;» (<i>Cahiers staëliens</i>, n°66, 2016) et « &nbsp;'Etre un quart d’heure un autre’ : sympathie et théâtre staëlien&nbsp;» &nbsp;(<i>Cahiers staëliens</i>, n°67, 2017).
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/jenn.png">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelJennOpenState = true" (closed)="panelJennOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Jennifer Ruimi
            </mat-panel-title>
            <mat-panel-description>
              Docteur, chercheur senior FNS
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/jenn.png">
          <p>
              Jennifer Ruimi est chercheuse FNS senior&nbsp;au sein du programme de recherches dirigé par Valentina Ponzetto «&nbsp;Théâtres de société entre Lumières et second Empire&nbsp;» ; elle est actuellement en train d’écrire un ouvrage sur la pratique du théâtre en société de Voltaire intitulé Les Petits théâtres de Voltaire : pour une histoire de la pratique des théâtres de société du dramaturge. Elle est par ailleurs l’auteur de <i>La Parade de société au XVIIIe siècle, une forme dramatique oubliée&nbsp;?</i> publié chez Champion en 2015. Elle est enfin chargée de cours à l’Institut d’études théâtrales de l’Université Sorbonne Nouvelle (Paris 3).
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/chris.png">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelChrisOpenState = true" (closed)="panelChrisOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Christophe Schuwey
            </mat-panel-title>
            <mat-panel-description>
              Docteur, concepteur technique du site
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/chris.png">
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/paul.png">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelPaulOpenState = true" (closed)="panelPaulOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paul Fièvre
            </mat-panel-title>
            <mat-panel-description>
              Collaborateur FNS au développement technique
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/paul.png">
          <p>
              Paul Fièvre est collaborateur FNS au développement technique du site de la base de données "Théâtres de société" ; il est un ingénieur de production eu sein de la Bibliothèque nationale de France et créateur et administrateur du site <a href="http://www.theatre-classique.fr/" target="_new">Théâtreclassique</a>.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/fiona.png">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelFionaOpenState = true" (closed)="panelFionaOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ​Fiona Baumann
            </mat-panel-title>
            <mat-panel-description>
              Collaboratrice
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/fiona.png">
          <p>
              ​Fiona Baumann est étudiante en Master de français moderne à l'université de Lausanne. Elle a au cours de son Bachelor suivi un programme a options en humanités numériques, grâce auquel elle a contribué à l'édition numérique&nbsp;de <i>Documenter l'histoire de la santé et de la médecine au siècle des Lumières</i> de Séverine Pilloud, publié en 2015 aux éditions BHMS.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/Thibault Hugentobler_photo2019.jpg">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelFionaOpenState = true" (closed)="panelThibautOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Thibault Hugentobler
            </mat-panel-title>
            <mat-panel-description>
              Assistant étudiant
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/Thibault Hugentobler_photo2019.jpg">
          <p>
            Thibault Hugentobler est étudiant en Master de Français moderne et d'Histoire de l’art à l’Université de Lausanne et se spécialise en patrimoine bâti. Durant son Bachelor, il a collaboré à l’élaboration d’un lexique illustré en ligne, LexicArt, destiné aux étudiant·e·s de l’UNIL, favorisant leur apprentissage des notions de bases d’histoire de l’art. Attaché à l’étude du théâtre sous toutes ses formes, il a participé durant l’automne 2020 à un atelier de recherche articulant analyse-action et réalité virtuelle autour d’un texte injoué, Abraham sacrifiant de Théodore de Bèze (1550).
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{site.urlPre}}/assets/img/bionda.jpg">
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelFionaOpenState = true" (closed)="panelBiondaOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Romain Bionda
            </mat-panel-title>
            <mat-panel-description>
              Docteur, chercheur senior FNS
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img class="photoid" src="{{site.urlPre}}/assets/img/bionda.jpg">
          <p>
            Romain Bionda est chercheur FNS Senior pour le volet «Femmes en société» du projet. À ce titre, il co-organise avec Valentina Ponzetto et Valérie Cossy le colloque «Création, représentation et sociabilité au féminin: entre scènes publiques et spectacles de société (1650-1914)», qui aura lieu en avril 2022 à l’Université de Lausanne.
          </p>
          <p>
            Sa thèse de doctorat, soutenue en juin 2021 à l’UNIL, s’intitule Manières de lire les textes dramatiques. Métacritique, historiographie, théorie (XIXe-XXIe siècles). Il a co-écrit Faire littérature. Usages et pratiques du littéraire (XIXe-XXIe siècles) (2019) et dirigé ou co-dirigé Les Conditions du théâtre: le théâtralisable et le théâtralisé ; la théâtralisation ; un état de la recherche (3 vol., 2017), La Mort de l’auteur (2 vol., 2019) et Les Études théâtrales à l’intersection des disciplines (2020). Il prépare un collectif sur le théâtre de science-fiction et un autre sur la question de la publication de la littérature.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

</div>
