<div>
  <h1>Publications</h1>

  <img src="{{site.urlPre}}/assets/doc//PONZETTO_2022_EDL317_cover.jpg">
  <p>Valentina Ponzetto, Jennifer Ruimi (éds), <i>Théâtre et société : réseaux de sociabilité et représentations de la société</i>, Études de lettres, n°317, 2022.</p>

  <img src="{{site.urlPre}}/assets/doc/jenn_book.jpg">
  <p>Jennifer Ruimi, <i>La Parade de société au XVIII<sup>e</sup> siècle</i>, Paris, Champion, 2015</p>

  <img src="{{site.urlPre}}/assets/doc/Ponzetto_lib.jpg" class="img_publi" height="300">
  <p>Valentina Ponzetto <i>et al.</i> (dir.), <a href="http://ceredi.labos.univ-rouen.fr/public/?theatres-en-liberte-du-xviiie-au.html" target="_blank"><i>Théâtres en liberté du XVIIIe au XXe siècle. Genres nouveaux, scènes marginales ?</i></a>, Rouen, Publications numériques du CÉRÉdI, n° 19, 2017.</p>

  <img src="{{site.urlPre}}/assets/doc/colloque_espaces.png" class="img_publi" height="300">
  <p>Valentina Ponzetto, Jennifer Ruimi avec la collaboration de Christophe Schuwey, <a href="http://www.pur-editions.fr/detail.php?idOuv=4987" target="_new"><i>Espaces des théâtres de société, définitions, enjeux, postérité</i></a>, Rennes, PUR, 2020.</p>

</div>
